body{
    display: flex;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: grid;
    grid-template-areas:
    "introText introText"
    "playerOne playerTwo"
    "button button";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-rows: auto;
    gap: 5vw;
    text-align: center; /* Centers text inside */
    justify-items: center;
    margin-bottom: 20px;
    margin-top: 10px;

}
.introText{
    grid-area: introText;
}
.playerOne, .playerTwo{
    grid-area: playerOne playerTwo;
}
.playerOne > img , .playerTwo > img{
    width:30vw;
    max-width: 200px;
    border-radius: 8px;
}
/* button style */
.button {
    grid-area: button;
    background: linear-gradient(135deg, #cb1111, #3d63ba);
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }
  
  .button:hover {
    background: linear-gradient(135deg, #cb1111, #3d63ba);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  }
  
  .button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  